# Workflow for this repo itself
name: Push

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise your personal token will be used
          fetch-depth: 0 # otherwise you will fail to push refs to dest repo

      - name: Push Latest Tag
        uses: anothrNick/github-tag-action@1.61.0
        env:
          GITHUB_TOKEN: ${{ secrets.STAKATER_AB_REPOS }}
          WITH_V: true
          DEFAULT_BUMP: patch
